@import "../variables";

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: $color-dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #111;
  border: 5px solid;
  outline: 5px #111;

  @media only screen and (min-device-width: 1024px) {
    width: 50%;
    outline: none;
  }

  &:first-child,
  &:nth-child(-n + 2) {
    border-left: $border-width;
  }

  &:last-child,
  &:nth-last-child(2) {
    border-right: $border-width;
  }

  &:nth-child(6n - 5),
  &:nth-child(6n - 3),
  &:nth-child(6n - 1) {
    border-top: $border-width;
  }

  &:nth-child(6n - 4),
  &:nth-child(6n - 2),
  &:nth-child(6n) {
    border-bottom: $border-width;
  }

  &:nth-child(6n - 5) {
    @media only screen and (min-device-width: 1024px) {
      height: 25%;
      width: initial;
    }
  }

  &:nth-child(6n - 4) {
    @media only screen and (min-device-width: 1024px) {
      height: 75%;
      width: initial;
    }
  }

  &:nth-child(6n - 3),
  &:nth-child(6n - 2) {
    @media only screen and (min-device-width: 1024px) {
      height: 50%;
      width: initial;
    }
  }

  &:nth-child(6n - 1) {
    @media only screen and (min-device-width: 1024px) {
      height: 70%;
      width: initial;
    }
  }

  &:nth-child(6n) {
    @media only screen and (min-device-width: 1024px) {
      height: 30%;
      width: initial;
    }
  }
}
