@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,400&display=swap");

$color-white: #f4f4f4;
$color-dark: #073b4c;
$color-primary: #118ab2;
$color-success: #06d6a0;
$color-danger: #ef476f;
$border-width: 10px solid;
$container-width: 80vw;
$font: "Fira Sans", sans-serif;
